#custom-nav {
    -webkit-box-shadow: 5px 5px 5px grey;
    -moz-box-shadow:    5px 5px 5px grey ;
    box-shadow:         5px 5px 5px grey;
    z-index:999;
}
.nav1{
    background-color:#7F9F7D!important;	
	padding-top:15px !important;
	padding-bottom:15px !important;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.24);
    color: #e1e5eb;
}
.a1{
    font-size: 18px;
}