<div class="signupbodyBg">
    <div class='bgWhite'></div>
    <div class="formSection center">
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 col-sm-12'>
                    <h4 class='text-center p1'>Tell us<br>
                        About yourself</h4>
                    <form>
                        <div class='form-group'>
                            <input class='form-control' type='text' id='hold' required>
                            <label class="form-control-placeholder" for="hold">First hold</label>
                        </div>
                        <div class='form-group'>
                            <input class='form-control' type='text'  id='hold' required>
                            <label class="form-control-placeholder" for="hold">Last hold</label>
                        </div>
                        <div class='form-group'>
                            <select class='form-control'  id='hold' required type='text'>
                                <option></option>
                                <option>Bride</option>
                                <option>Groom</option>
                                <option>Family Member</option>
                            </select>
                            <label class="form-control-placeholder" for="hold">Your Role?</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class='text-center  mb-5'>
            <a class='btn btn1' routerLink='/whenwedding'>CONTINUE</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>