<div class="signupbodyBg">
    <div class='bgWhite'></div>

    <div class="formSection center">
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 col-sm-12'>
                    <h4 class='text-center p1'>And<br>
                        one more thing
                    </h4>
                    <form>
                        <div class="form-group">
                            <input type="text" id="hold" class="form-control" required>
                            <label class="form-control-placeholder" for="hold">What is your budget?</label>
                        </div>
                        <div class="form-group">
                            <input type="text" id="hold" class="form-control" required>
                            <label class="form-control-placeholder" for="hold">For how many guests?</label>
                        </div>
                        <div class="form-group">
                            <input type="text" id="hold" class="form-control" required>
                            <label class="form-control-placeholder" for="hold">For habbit</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class='text-center  mb-5'>
            <a class='btn btn1' routerLink='/about'>CONTINUE</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>