<div class="signupbodyBg">
        <div class='bgWhite'></div>

    <div class="formSection center">
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 col-sm-12'>
                    <h4 class='text-center p1'>When<br>
                        is the wedding?</h4>
                    <form>
                        <div class='form-group'>
                            <input class='form-control' type='date' placeholder="Date">
                        </div>
                        <div class='form-group'>
                            <input class='form-control' type='time' placeholder="Event starts at">
                        </div>
                        <div class='form-group'>
                            <input class='form-control' type='text' placeholder="Area, City, Country">
                        </div>
                    </form>
                    <div class='text-center  mb-5'>
                        <a class='btn btn1' routerLink='/plan'>CONTINUE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<router-outlet></router-outlet>